version: '3.8'

services:
  telegram_bot:
    build: .
    container_name: copy-post-userbot
    environment:
      API_ID: ${API_ID}
      API_HASH: ${API_HASH}
      SOURCE_CHANNELS: ${SOURCE_CHANNELS}
      TARGET_CHANNEL: ${TARGET_CHANNEL}
      CHECK_LIMIT: ${CHECK_LIMIT:-1}
      DATABASE_URL: ${DATABASE_URL}
      R2_ACCOUNT_ID: ${R2_ACCOUNT_ID}
      R2_ACCESS_KEY_ID: ${R2_ACCESS_KEY_ID}
      R2_SECRET_ACCESS_KEY: ${R2_SECRET_ACCESS_KEY}
      R2_BUCKET_NAME: ${R2_BUCKET_NAME}
      R2_PUBLIC_URL: ${R2_PUBLIC_URL}
    volumes:
      - ./sessions:/app/sessions
      - ./.env:/app/.env
    restart: unless-stopped
    stdin_open: true
    tty: true
